In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import precision_score, recall_score,accuracy_score
import numpy as np
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Sex'] = df['Sex'] == 'male'
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,True,22.0,1,0,7.2500
1,1,1,False,38.0,1,0,71.2833
2,1,3,False,26.0,0,0,7.9250
3,1,1,False,35.0,1,0,53.1000
4,0,3,True,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,True,27.0,0,0,13.0000
883,1,1,False,19.0,0,0,30.0000
884,0,3,False,7.0,1,2,23.4500
885,1,1,True,26.0,0,0,30.0000
886,0,3,True,32.0,0,0,7.7500

In [11]:
kf = KFold(n_splits=5, shuffle=True, random_state=1)
kf_accuracy_scores = []
kf_precision_scores = []
kf_recall_scores = []
l_accuracy_scores = []
l_precision_scores = []
l_recall_scores = []

In [10]:
X = df[['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
y = df['Survived'].values

In [32]:
for train, test in kf.split(X):
    X_train, X_test = X[train], X[test]
    y_train, y_test = y[train], y[test]
    model1 = DecisionTreeClassifier()
    model1.fit(X_train, y_train)
    pred = model1.predict(X_test)
    kf_accuracy_scores.append(accuracy_score(y_test, pred))
    kf_precision_scores.append(precision_score(y_test, pred))
    kf_recall_scores.append(recall_score(y_test, pred))
    model2 = LogisticRegression()
    model2.fit(X_train, y_train)
    predict = model2.predict(X_test)
    l_accuracy_scores.append(accuracy_score(y_test, predict))
    l_precision_scores.append(precision_score(y_test, predict))
    l_recall_scores.append(recall_score(y_test, predict))

[0.7921348314606742, 0.7471910112359551, 0.8022598870056498, 0.7853107344632768, 0.8700564971751412]

In [36]:
print("Using DecisionTree Classifier")
print(f"Accuracy DecisionTree Classifier: {np.mean(kf_accuracy_scores)}")
print(f"Precision DecisionTree Classfier: {np.mean(kf_precision_scores)}")
print(f"Recall DecisionTree Classifier: {np.mean(kf_recall_scores)}")

Using DecisionTree Classifier
Accuracy DecisionTree Classifier: 0.776264838443471
Precision DecisionTree Classfier: 0.7178847604841679
Recall DecisionTree Classifier: 0.6863236245924067

In [37]:
print("Using LogisticRegression")
print(f"Accuracy LogisticRegression Classifier: {np.mean(l_accuracy_scores)}")
print(f"Precision LogisticRegression Classfier: {np.mean(l_precision_scores)}")
print(f"Recall LogisticRegression Classifier: {np.mean(l_recall_scores)}")

Using LogisticRegression
Accuracy LogisticRegression Classifier: 0.7993905922681395
Precision LogisticRegression Classfier: 0.7595895286234808
Recall LogisticRegression Classifier: 0.6953636351157413