In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score, confusion_matrix 
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Gender'] = df['Sex'] == 'male'
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare,Gender
0,0,3,male,22.0,1,0,7.2500,True
1,1,1,female,38.0,1,0,71.2833,False
2,1,3,female,26.0,0,0,7.9250,False
3,1,1,female,35.0,1,0,53.1000,False
4,0,3,male,35.0,0,0,8.0500,True
...,...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000,True
883,1,1,female,19.0,0,0,30.0000,False
884,0,3,female,7.0,1,2,23.4500,False
885,1,1,male,26.0,0,0,30.0000,True
886,0,3,male,32.0,0,0,7.7500,True

In [4]:
df.keys()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'Siblings/Spouses',
       'Parents/Children', 'Fare', 'Gender'],
      dtype='object')

In [5]:
X = df[['Pclass', 'Age', 'Siblings/Spouses', 'Parents/Children' , 'Fare', 'Gender']].values
y = df['Survived']

print(X)
print(y)

[[3 22.0 1 0 7.25 True]
 [1 38.0 1 0 71.2833 False]
 [3 26.0 0 0 7.925 False]
 ...
 [3 7.0 1 2 23.45 False]
 [1 26.0 0 0 30.0 True]
 [3 32.0 0 0 7.75 True]]
0      0
1      1
2      1
3      1
4      0
      ..
882    0
883    1
884    0
885    1
886    0
Name: Survived, Length: 887, dtype: int64

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 

model = LogisticRegression()

model.fit(X,y)
print(model.coef_, model.intercept_)

[[-1.13645538 -0.04237384 -0.38746609 -0.09619822  0.00297188 -2.64409921]] [5.08856738]

In [7]:
y_pre = model.predict(X)

In [8]:
(y_pre == True).sum()

309

In [9]:
(y_pre == y).sum()

714

In [10]:
print((y == y_pre).sum())

714

In [11]:
# accuracy is the number of datapoints predicted correctly divided by the total number of datapoints.
model.score(X,y)

0.8049605411499436

In [12]:
print('Accuracy_score : ', accuracy_score(y, y_pre))
print('Precision_score : ', precision_score(y, y_pre))
print('recall_score : ', recall_score(y, y_pre))
print('f1_score : ', f1_score(y, y_pre))

Accuracy_score :  0.8049605411499436
Precision_score :  0.7734627831715211
recall_score :  0.6988304093567251
f1_score :  0.7342549923195083

In [13]:
print(confusion_matrix(y, y_pre))

[[475  70]
 [103 239]]

In [14]:
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.1 , random_state=1)

In [15]:
print('Whole dataset :', X.shape, y.shape)

Whole dataset : (887, 6) (887,)