In [50]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
# import graphviz
from sklearn.tree import export_graphviz
from sklearn.model_selection import GridSearchCV

In [51]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Sex'] = df['Sex'] == 'male'
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,True,22.0,1,0,7.2500
1,1,1,False,38.0,1,0,71.2833
2,1,3,False,26.0,0,0,7.9250
3,1,1,False,35.0,1,0,53.1000
4,0,3,True,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,True,27.0,0,0,13.0000
883,1,1,False,19.0,0,0,30.0000
884,0,3,False,7.0,1,2,23.4500
885,1,1,True,26.0,0,0,30.0000
886,0,3,True,32.0,0,0,7.7500

In [52]:
X = df[['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
y = df['Survived'].values

Building KFold and train, test the model

In [53]:
# kf = KFold(n_splits=5, shuffle=True, random_state=1)
# Accuracy = []

# for train, test in kf.split(X):
#     X_train, X_test = X[train], X[test]
#     y_train, y_test = y[train], y[test]
#     dt = DecisionTreeClassifier(max_depth=3, min_samples_leaf=2, max_leaf_nodes=10)
#     dt.fit(X_train, y_train)
#     pred = dt.predict(X_test)
#     Accuracy.append(dt.score(X_test, y_test))

# print(f"Accuracy of KFold with pre pruning : {np.mean(Accuracy)}")

DecisionTree picture with graphviz

In [54]:
# img = export_graphviz(dt, feature_names=['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare'], class_names=['Didn\'t Survived', 'Survived'])
# dot = graphviz.Source(img)
# dot.render(filename='LEavesnode', format='png', cleanup= True)

Pruning DecisionTree with GridSearchCV

In [69]:
param_grid = {'max_depth' : [5, 10, 20],
            'min_samples_leaf' : [2 ,4],
            'max_leaf_nodes' : [10, 15, 21, 45]}
model = DecisionTreeClassifier()

grid = GridSearchCV(model, param_grid, scoring='recall', cv=5)

grid.fit(X, y)
print(f"best parameter {grid.best_params_}")
print(f"best score {grid.best_score_}")

best parameter {'max_depth': 5, 'max_leaf_nodes': 10, 'min_samples_leaf': 2}
best score 0.7340153452685423