In [2]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import numpy as np

In [3]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Sex'] = df['Sex'] == 'male'
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,True,22.0,1,0,7.2500
1,1,1,False,38.0,1,0,71.2833
2,1,3,False,26.0,0,0,7.9250
3,1,1,False,35.0,1,0,53.1000
4,0,3,True,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,True,27.0,0,0,13.0000
883,1,1,False,19.0,0,0,30.0000
884,0,3,False,7.0,1,2,23.4500
885,1,1,True,26.0,0,0,30.0000
886,0,3,True,32.0,0,0,7.7500

In [4]:
kf = KFold(n_splits=5, shuffle=True)

In [5]:
X1 = df[['Pclass', 'Sex', 'Age', 'Siblings/Spouses', 'Parents/Children', 'Fare']].values
X2 = df[['Pclass', 'Sex', 'Age']].values
X3 = df[['Fare', 'Age']].values
y = df['Survived'].values

In [6]:
def Score_model(X, y, kf):
    Accuracy_scores = []
    precision_scores = []
    recall_scores = []
    f1_scores = []
    for train, test in kf.split(X):
        X_train, X_test = X[train], X[test]
        y_train, y_test = y[train], y[test]
        model = LogisticRegression()
        model.fit(X_train, y_train)
        predict = model.predict(X_test)
        Accuracy_scores.append(accuracy_score(y_test, predict))
        precision_scores.append(precision_score(y_test, predict))
        recall_scores.append(recall_score(y_test, predict))
        f1_scores.append(f1_score(y_test, predict))
    print(f'Accuracy_scores : {np.mean(Accuracy_scores)}')
    print(f'Precision : {np.mean(precision_scores)}')
    print(f'Recall : {np.mean(recall_scores)}')
    print(f'F1 : {np.mean(f1_scores)}')

In [7]:
print('The First Model :')
Score_model(X1, y, kf)
print()
print('The Second Model :')
Score_model(X2, y, kf)
print()
print('The Third Model :')
Score_model(X3, y, kf)
print()

The First Model :
Accuracy_scores : 0.8004126198184472
Precision : 0.7730678862882252
Recall : 0.6912714120906853
F1 : 0.726460271979186

The Second Model :
Accuracy_scores : 0.7936710467847394
Precision : 0.7476837474120084
Recall : 0.704843980602994
F1 : 0.7253921999139248

The Third Model :
Accuracy_scores : 0.6515965212975307
Precision : 0.6365355105252803
Recall : 0.22826421390981352
F1 : 0.3332366393458434

In [23]:
Model = LogisticRegression()
Model.fit(X1, y)
Model.predict([[1, False, 0, 0, 0, 1]])

array([1], dtype=int64)