## Memanggil Library Pandas

In [ ]:
import pandas as pd
import numpy as np

## DataFrame & Series

Di Pandas terdapat 2 kelas data baru yang digunakan sebagai struktur dari spreadsheet:

Series: satu kolom bagian dari tabel dataframe yang merupakan 1 dimensional numpy array sebagai basis datanya, terdiri dari 1 tipe data (integer, string, float, dll).
DataFrame: gabungan dari Series, berbentuk rectangular data yang merupakan tabel spreadsheet itu sendiri (karena dibentuk dari banyak Series, tiap Series biasanya punya 1 tipe data, yang artinya 1 dataframe bisa memiliki banyak tipe data).

In [2]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
print("Series:")
print(number_list)
# DataFrame
matrix = [[1,2,3],
          ['a', 'b', 'c'],
          [3,4,5],
          ['d', 4, 6]]
matrix_list = pd.DataFrame(matrix)
print("DataFrame:")
print(matrix_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

## Atribut DataFrame & Series - Part 1

Method Python in pandas

1. Method .info()

Method .info() digunakan untuk mengecek kolom apa yang membentuk dataframe itu, data types, berapa yang non null, dll. Method ini tidak dapat digunakan pada series, hanya pada dataframe saja.

![](images/34.png)

Output di console untuk penggunaan method .info() ini adalah:

![](images/35.png)

2. Attribute .shape

Attribute .shape digunakan untuk mengetahui berapa baris dan kolom, hasilnya dalam format tuple (baris, kolom).

![](images/36.png)

Output di console untuk penggunaan attribute .shape ini adalah:

![](images/37.png)

3. Attribute .dtypes

Attribute .dtypes digunakan untuk mengetahui tipe data di tiap kolom. Tipe data object: kombinasi untuk berbagai tipe data (number & text, etc).

![](images/38.png)

Output di console untuk penggunaan attribute .dtypes ini adalah:

![](images/39.png)

4. Method .astype(nama_tipe_data)

Method .astype(nama_tipe_data) untuk convert tipe data berdasarkan tipe data seperti: float, int, str, numpy.float, numpy.int ataupun numpy.datetime.

![](images/40.png)

Output di console untuk penggunaan method .astype() ini adalah:

![](images/41.png)

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [1] method .info()
print("[1] method .info()")
print(matrix_list.info())
# [2] attribute .shape
print("\n[2] attribute .shape")
print("    Shape dari number_list:", number_list.shape)
print("    Shape dari matrix_list:", matrix_list.shape)
# [3] attribute .dtypes
print("\n[3] attribute .dtypes")
print("    Tipe data number_list:", number_list.dtypes)
print("    Tipe data matrix_list:", matrix_list.dtypes)
# [4] attribute .astype()
print("\n[4] method .astype()")
print("    Konversi number_list ke str:", number_list.astype("str"))
print("    Konversi matrix_list ke str:", matrix_list.astype("str"))

## Atribut DataFrame & Series - Part 2

5. Attribute .copy()

Attribute .copy() digunakan melakukan duplikat, untuk disimpan di variable yang berbeda mungkin supaya tidak loading data lagi.

![](images/42.png)

Output di console untuk penggunaan attribute .copy() ini adalah:

![](images/43.png)

6. Attribute .to_list()

Attribute .to_list() digunakan untuk mengubah series menjadi list dan tidak dapat digunakan untuk dataframe.

![](images/44.png)

Output di console untuk penggunaan attribute .to_list() ini adalah:

![](images/45.png)

7. Attribute .unique()

Attribute .unique() digunakan menghasilkan nilai unik dari suatu kolom, hasilnya dalam bentuk numpy array. Attribute ini hanya digunakan pada series saja.

![](images/46.png)

Output di console untuk penggunaan attribute .unique() ini adalah:

![](images/47.png)

In [ ]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [5] attribute .copy()
print("[5] attribute .copy()")
num_list = number_list.copy()
print("    Copy number_list ke num_list:", num_list)
mtr_list = matrix_list.copy()
print("    Copy matrix_list ke mtr_list:", mtr_list)	
# [6] attribute .to_list()
print("[6] attribute .to_list()")
print(number_list.to_list())
# [7] attribute .unique()
print("[7] attribute .unique()")
print(number_list.unique())

## Atribut DataFrame & Series - Part 3

8. Attribute .index

Attribute .index digunakan untuk mencari index/key dari Series atau Dataframe.

![](images/48.png)

Output di console untuk penggunaan attribute .index ini adalah:

![](images/49.png)

9. Attribute .columns

Attribute .columns digunakan untuk mengetahui apa saja kolom yang tersedia di dataframe tersebut (hanya digunakan untuk dataframe saja). 

![](images/50.png)

Output di console untuk penggunaan attribute .columns ini adalah:

![](images/51.png)

10. Attribute .loc

Attribute .loc digunakan slice dataframe atau series berdasarkan nama kolom dan/atau nama index.

![](images/52.png)

Output di console untuk penggunaan attribute .loc[] ini adalah:

![](images/53.png)

11. Attribute .iloc

Attribute .iloc digunakan untuk slice dataframe atau series berdasarkan index kolom dan/atau index.

![](images/54.png)

Output di console untuk penggunaan attribute .iloc[] ini adalah:

![](images/55.png)

In [7]:
import pandas as pd
# Series
number_list = pd.Series([1,2,3,4,5,6])
# DataFrame
matrix_list = pd.DataFrame([[1,2,3],
				            ['a','b','c'],
				            [3,4,5],
				            ['d',4,6]])
# [8] attribute .index
print("[8] attribute .index")
print("    Index number_list:", number_list.index)
print("    Index matrix_list:", matrix_list.index)	
# [9] attribute .columns
print("[9] attribute .columns")
print("    Column matrix_list:", matrix_list.columns)
# [10] attribute .loc
print("[10] attribute .loc")
print("    .loc[0:1] pada number_list:", number_list.loc[0:1])
print("    .loc[0:1] pada matrix_list:", matrix_list.loc[0:1])
# [11] attribute .iloc
print("[11] attribute .iloc")
print("    iloc[0:1] pada number_list:", number_list.iloc[0:1])
print("    iloc[0:1] pada matrix_list:", matrix_list.iloc[0:1])

[8] attribute .index
    Index number_list: RangeIndex(start=0, stop=6, step=1)
    Index matrix_list: RangeIndex(start=0, stop=4, step=1)
[9] attribute .columns
    Column matrix_list: RangeIndex(start=0, stop=3, step=1)
[10] attribute .loc
    .loc[0:1] pada number_list: 0    1
1    2
dtype: int64
    .loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c
[11] attribute .iloc
    iloc[0:1] pada number_list: 0    1
dtype: int64
    iloc[0:1] pada matrix_list:    0  1  2
0  1  2  3

## Creating Series & Dataframe from List

Untuk membuat Series atau Dataframe bisa dari berbagai macam tipe data container/mapping di python, seperti list dan dictionary, maupun dari numpy array

In [8]:
import pandas as pd
# Creating series from list
ex_list = ['a',1,3,5,'c','d']
ex_series = pd.Series(ex_list)
print(ex_series)
# Creating dataframe from list of list
ex_list_of_list = [[1, 'a', 'b', 'c'],
                   [2.5, 'd', 'e', 'f'],
		           [5, 'g', 'h', 'i'],
		           [7.5, 'j', 10.5, 'l']]
index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object
     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

## Creating Series & Dataframe from Dictionary

In [1]:
import pandas as pd
# Creating series from dictionary
dict_series = {'1' : 'a',
			   '2' : 'b',
			   '3' : 'c'}
ex_series = pd.Series(dict_series)
print(ex_series)
# Creating dataframe from dictionary
df_series = {'1' : ['a', 'b', 'c'],
             '2' : ['b', 'c', 'd'], 
             '4' : [2, 3, 'z']}
ex_df = pd.DataFrame(df_series)
print(ex_df)

1    a
2    b
3    c
dtype: object
   1  2  4
0  a  b  2
1  b  c  3
2  c  d  z

## Creating Series & Dataframe from Numpy Array

In [1]:
import pandas as pd
import numpy as np
# Creating series from numpy array (1D)
arr_series = np.array([1,2,3,4,5,6,6,7])
ex_series = pd.Series(arr_series)
print(ex_series)
# Creating dataframe from numpy array (2D)
arr_df = np.array([[1, 2, 3, 5],
                   [5, 6, 7, 8],
                   ['a', 'b', 'c', 10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int32
   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

Pandas menyediakan berbagai method untuk membaca file tersebut hanya dengan dipanggil method itu, code yang lebih simple dan loading yang lebih, tentu saja output nya dapat berupa Series atau Dataframe.

Terdapat sangat banyak file yang dapat dibaca/dapat disimpan oleh Pandas, tapi ada beberapa file yang paling umum dan sering digunakan oleh praktisi data seperti berikut ini:

- CSV (Comma Separated Values), antar data dalam satu baris dipisahkan oleh comma, ",".
- TSV (Tab Separated Values), antar data dalam satu baris dipisahkan oleh "Tab".
- Excel
- Google BigQuery
- SQL Query
- JSON (Java Script Object Notation)

## Read Dataset - CSV dan TSV

CSV dan TSV pada hakikatnya adalah tipe data text dengan perbedaan terletak pada pemisah antar data dalam satu baris. Pada file CSV, antar data dalam satu baris dipisahkan oleh comma, ",". Namun, pada file TSV antar data dalam satu baris dipisahkan oleh "Tab".

Fungsi .read_csv() digunakan untuk membaca file yang value-nya dipisahkan oleh comma (default), terkadang pemisah value-nya bisa di set ‘\t’ untuk file tsv (tab separated values).

In [1]:
import pandas as pd
# File CSV
df_csv = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
print(df_csv.head(3)) # Menampilkan 3 data teratas
# File TSV
df_tsv = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep='\t')
print(df_tsv.head(3)) # Menampilkan 3 data teratas

   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
   order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000

## Read Dataset - Excel
File Excel dengan ekstensi *.xls atau *.xlsx cukup banyak digunakan dalam menyimpan data. Pandas juga memiliki fitur untuk membaca file excel.

Notes :

Dataset : https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx

Fungsi .read_excel() digunakan untuk membaca file excel menjadi dataframe pandas.

In [2]:
import pandas as pd
# File xlsx dengan data di sheet "test"
df_excel = pd.read_excel("https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx", sheet_name="test")
print(df_excel.head(5)) # Menampilkan 4 data teratas

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

## Read Dataset - JSON
Method .read_json() digunakan untuk membaca URL API yang formatnya JSON dan mengubahnya menjadi dataframe pandas. Method ini dapat digunakan seperti yang dicontohkan berikut ini:

In [3]:
import pandas as pd
# File JSON
url = "https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json"
df_json = pd.read_json(url)
print(df_json.head(10)) # Menampilkan 10 data teratas

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

## Read Dataset - SQL
Fungsi .read_sql() atau .read_sql_query() digunakan untuk membaca query dari database dan translate menjadi pandas dataframe, contoh case ini database sqlite.

Contoh penggunaannya:

![](images/56.png)

Jika menggunakan .read_sql_query

![](images/57.png)

Output:

![](images/58.png)

Jika menggunakan .read_sql

![](images/59.png)

Output:

![](images/60.png)

Terlihat keduanya menghasilkan output yang sama.

In [7]:
import mysql.connector
import pandas as pd

my_conn = mysql.connector.connect(host = "relational.fit.cvut.cz",
                                  port = 3306,
                                  user = "guest",
                                  password = "relational",
                                  database = "financial",
                                  use_pure = True)

my_tabel = "SELECT * FROM loan"

df = pd.read_sql(my_tabel, my_conn)
print(df.head())

C:\Users\PC\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   loan_id  account_id        date  amount  duration  payments status
0     4959           2  1994-01-05   80952        24    3373.0      A
1     4961          19  1996-04-29   30276        12    2523.0      B
2     4962          25  1997-12-08   30276        12    2523.0      A
3     4967          37  1998-10-14  318480        60    5308.0      D
4     4968          38  1998-04-19  110736        48    2307.0      C

## Read Dataset - Google BigQuery
Untuk data yang besar (big data), umumnya digunakan Google BigQuery. Layanan ini dapat digunakan jika telah memiliki Google BigQuery account.

 

Fungsi .read_gbq() digunakan untuk membaca Google BigQuery table menjadi dataframe pandas.

![](images/61.png)

project_id="XXXXXXXX" adalah ID dari Google BigQuery account.

Output-nya:

![](images/62.png)

In [8]:
import pandas as pd

table = "SELECT * FROM bigquery-public-data.covid19_jhu_case_eu.summary"

df = pd.read_gbq(table, project_id="XXXXXXXX")
print(df)

ImportError: Missing optional dependency 'pandas-gbq'. pandas-gbq is required to load data from Google BigQuery. See the docs: https://pandas-gbq.readthedocs.io. Use pip or conda to install pandas-gbq.

## Write Dataset
Dalam bekerja sebagai data scientist/analis setelah dilakukan data cleaning dataset yang sudah rapi tentunya disimpan terlebih dahulu ke dalam media penyimpanan.  

 

Pandas menyediakan fitur demikian secara ringkas melalui penerapan method pada dataframe/series yang ditabelkan berikut ini:

Method

Code

.to_csv()

→ digunakan untuk export dataframe kembali ke csv atau tsv	
CSV

df.to_csv("csv1.csv", index=False)
TSV

df.to_csv("tsv1.tsv", index=False, sep='\t')
.to_clipboard()

→ export dataframe menjadi bahan copy jadi nanti bisa tinggal klik paste di excel atau google sheets

df.to_clipboard()
.to_excel()

→ export dataframe menjadi file excel

df_excel.to_excel("xlsx1.xlsx", index=False)
.to_gbq()

→ export dataframe menjadi table di Google BigQuery

df.to_gbq("temp.test", project_id="XXXXXX", if_exists="fail")
temp: nama dataset,

test: nama table

if_exists: ketika tabel dengan dataset.table_name yang sama sudah ada, apa action yang ingin dilakukan

("fail": tidak melakukan apa-apa,

 "replace': membuang tabel yang sudah ada dan mengganti yang baru,

 "append": menambah baris di tabel tersebut dengan data yang baru

)

## Head & Tail
Seperti yang telah dipelajari sebelumnya bahwa ada method .head yang diterapkan pada suatu variabel bertipe pandas dataframe/series.

Method .head ditujukan untuk membatasi tampilan jumlah baris teratas dari dataset. Sementara itu, method .tail ditujukan untuk membatasi jumlah baris terbawah dari dataset.

Secara umum kedua method ini memiliki bentuk

[nama_dataframe].head(n) 
dan 

[nama_dataframe].tail(n)
dengan n merupakan jumlah baris yang akan ditampilkan, jika tidak disebutkan n = 5 (sebagai nilai default dari n).

In [2]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", df.head(3))
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", df.tail(3))

Tiga data teratas:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
Tiga data terbawah:
      order_id  order_date  customer_id      city          province product_id  \
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000

## QUIZ

akukan analisis dengan menggunakan BigQuery karena ada beberapa data BigQuery public datasets yang informasinya akurat dan sudah banyak data point-nya sehingga sudah bisa digunakan.

Tapi masalahnya, ada beberapa data adhoc yang bergantung tim lain yang belum terlalu melek data dan datanya masih disimpan dalam bentuk CSV.

Bagaimana langkah efektif yang dapat diambil untuk melakukan analisis gabungan data dari BigQuery dan CSV?

 

Hint: coba explore BigQuery public datasets dulu, kamu akan dapati data size yang besar (>1juta baris), akan susah kalau harus di export dan dilakukan analisis di excel.

JAWABAN

(a) Export BigQuery menggunakan pd.read_gbq, kemudian disimpan dalam CSV, lakukan analisis di excel

(b) Upload data CSV ke BigQuery, lakukan analisis di dalam BigQuery/export to pandas menggunakan pd.read_gbq

(c) Export data BigQuery menggunakan pd.read_gbq as dataframe, kemudian baca file csv menggunakan pd.read_csv dan akhirnya melakukan analisis gabungan di python

(b) dan (c)

Answers is b ,c

## Indexing - Part 1
Index merupakan key identifier dari tiap row/column untuk Series atau Dataframe (sifatnya tidak mutable untuk masing-masing value tapi bisa diganti untuk semua value sekaligus).

Jika tidak disediakan, pandas akan membuat kolom index default secara otomatis sebagai bilangan bulat (integer) dari 0 sampai range jumlah baris data tersebut.

Kolom index dapat terdiri dari:

satu kolom (single index), atau
multiple kolom (disebut dengan hierarchical indexing).
Index dengan multiple kolom ini terjadi karena unique identifier tidak dapat dicapai hanya dengan set index di 1 kolom saja sehingga membutuhkan beberapa kolom yang menjadikan tiap row menjadi unique.

## Indexing - Part 2

In [5]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Index dari df
print("Index :", df.index)
# Column dari df
print("Columns:", df.columns)

print(df.tail())

Index : RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')
     order_id  order_date  customer_id      city          province product_id  \
96    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3388
97    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3082
98    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3354
99    1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P3357
100   1612390  2019-01-01        12681  Makassar  Sulawesi Selatan      P0422

       brand  quantity  item_price
96   BRAND_S        10      450000
97   BRAND_R        18     1045000
98   BRAND_S        24      450000
99   BRAND_S        24      450000
100  BRAND_B         4     1325000

## Indexing - Part 3
Di sub bab sebelumnya telah dibahas terkait single index, tentunya pada sub bab ini akan bahas multi index atau disebut juga dengan hierarchical indexing.

Untuk membuat multi index (hierarchical indexing) dengan pandas diperlukan kolom-kolom mana saja yang perlu disusun agar index dari dataframe menjadi sebuah hirarki yang kemudian dapat dikenali.

 

Pada sub bab sebelumnya telah diberikan nama-nama kolom dari dataframe yang telah dibaca, yaitu:

![](images/63.png)

dengan output

![](images/64.png)

Selanjutnya akan membuat multi index dengan menggunakan kolom 'order_id', 'customer_id', 'product_id', dan 'order_date' dengan menggunakan method .set_index(). Mari perhatikan contoh kode yang diberikan berikut ini:

![](images/65.png)

berikut hasil tampilan dataframe df_x-nya:

![](images/66.png)

Untuk melihat multi index yang telah diset dapat dilakukan dengan:

![](images/67.png)

yang memberikan output:

![](images/68.png)

Perlu diketahui bahwa kumpulan index dari multi index adalah list dari banyak tuples, tuples-nya merupakan kombinasi yang ada dari gabungan index-index tersebut. Dari multi index tersebut juga terdapat atribut levels yang menunjukkan urutan index, dalam case ini 'order_id' > 'customer_id' > 'product_id' > 'order_date'.

![](images/69.png)

yang menghasilkan output berupa:

![](images/70.png)

In [8]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_date', 'city', 'customer_id'])
# Print nama dan level dari multi index
for nama, level in zip(df_x.index.names, df_x.index.levels):
    print(nama,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

## Reset Index

In [8]:
import pandas as pd

df = pd.DataFrame({ "day number" : [i for i in range(1,8)],
                    "week type" : ["weekday" for i in range (5)] + ["weekend" for i in range (2)]}, index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
df.reset_index(drop=True)
print(df)

           day number week type
Monday              1   weekday
Tuesday             2   weekday
Wednesday           3   weekday
Thursday            4   weekday
Friday              5   weekday
Saturday            6   weekend
Sunday              7   weekend

## Indexing - Part 4
Terdapat beberapa cara untuk membuat index, salah satunya adalah seperti yang telah dilakukan pada sub bab sebelumnya dengan menggunakan method .set_index().

Di sub bab ini akan menggunakan assignment untuk menset index dari suatu dataframe. Untuk itu file "sample_excel.xlsx" yang digunakan. Perhatikan code berikut!

![](images/71.png)

maka Outputnya

![](images/72.png)

Note:

- Cara yang ditunjukkan oleh baris ketujuh (ke-7) pada code editor di atas hanya berlaku jika index yang di-assign tersebut memiliki panjang yang sama dengan jumlah 
baris dari dataframe.
- Jika ingin kembalikan dataframe ke index default-nya yaitu dari 0 s/d jumlah baris data - 1, maka dapat menggunakan method .reset_index(drop=True), argument drop=True bertujuan untuk menghapus index lama.

In [2]:
import pandas as pd
# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)
# Cetak data frame awal
print("Dataframe awal:\n", df)
# Set index baru
df.index = ["Pesanan ke-" + str(i) for i in range(1, 11)]
# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
    order_id  order_date  customer_id             city     province product_id  \
0   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0648
1   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3826
2   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1508
3   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P0520
4   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1513
5   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3911
6   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1780
7   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P3132
8   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P1342
9   1612339  2019-01-01        18055  Jakarta Selatan  DKI Jakarta      P2556

     brand  quantity  item_price
0  BRAND_C         4     1934000
1  BRAND_V         8      604000
2  BRAND_G        12      747000
3  BRAND_B        12      450000
4  BRAND_G         3     1500000
5  BRAND_V         3     2095000
6  BRAND_H         3     2095000
7  BRAND_S         3     1745000
8  BRAND_F         6     1045000
9  BRAND_P         6     1045000
Dataframe dengan index baru:
                order_id  order_date  customer_id             city  \
Pesanan ke-1    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-2    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-3    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-4    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-5    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-6    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-7    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-8    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-9    1612339  2019-01-01        18055  Jakarta Selatan
Pesanan ke-10   1612339  2019-01-01        18055  Jakarta Selatan

                  province product_id    brand  quantity  item_price
Pesanan ke-1   DKI Jakarta      P0648  BRAND_C         4     1934000
Pesanan ke-2   DKI Jakarta      P3826  BRAND_V         8      604000
Pesanan ke-3   DKI Jakarta      P1508  BRAND_G        12      747000
Pesanan ke-4   DKI Jakarta      P0520  BRAND_B        12      450000
Pesanan ke-5   DKI Jakarta      P1513  BRAND_G         3     1500000
Pesanan ke-6   DKI Jakarta      P3911  BRAND_V         3     2095000
Pesanan ke-7   DKI Jakarta      P1780  BRAND_H         3     2095000
Pesanan ke-8   DKI Jakarta      P3132  BRAND_S         3     1745000
Pesanan ke-9   DKI Jakarta      P1342  BRAND_F         6     1045000
Pesanan ke-10  DKI Jakarta      P2556  BRAND_P         6     1045000

## Indexing - Part 5
Jika file yang akan dibaca melalui penggunaan library pandas dapat di-preview terlebih dahulu struktur datanya maka melalui fungsi yang ditujukan untuk membaca file dapat diset mana kolom yang akan dijadikan index.

 

Fitur ini telah dimiliki oleh setiap fungsi yang digunakan dalam membaca data dengan pandas, yaitu penggunaan argumen index_col pada fungsi yang dimaksud. Untuk jelasnya dapat diperhatikan pada kode berikut ini.

![](images/73.png)

Dari dataset sample_csv.csv, sample_tsv.tsv, atau sample_excel.xlsx sudah tahu bahwa kolom dataset adalah 'order_id'; 'order_date'; 'customer_id'; 'city'; 'province'; 'product_id'; 'brand'; 'quantity'; and 'item_price'. Sehingga kode di atas digunakan langsung kolom 'order_date' pada saat membaca file-nya.

maka outputnya :

![](images/74.png)

Terlihat bahwa kolom order_date sudah jadi index, dan tentunya jumlah kolom dataframe berkurang satu, yaitu menjadi delapan kolom.

In [3]:
import pandas as pd
# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date", "order_id"])
# Cetak data frame untuk 8 data teratas
print("Dataframe:\n", df.head(8))

Dataframe:
                      customer_id             city     province product_id  \
order_date order_id
2019-01-01 1612339         18055  Jakarta Selatan  DKI Jakarta      P0648
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3826
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1508
           1612339         18055  Jakarta Selatan  DKI Jakarta      P0520
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1513
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3911
           1612339         18055  Jakarta Selatan  DKI Jakarta      P1780
           1612339         18055  Jakarta Selatan  DKI Jakarta      P3132

                       brand  quantity  item_price
order_date order_id
2019-01-01 1612339   BRAND_C         4     1934000
           1612339   BRAND_V         8      604000
           1612339   BRAND_G        12      747000
           1612339   BRAND_B        12      450000
           1612339   BRAND_G         3     1500000
           1612339   BRAND_V         3     2095000
           1612339   BRAND_H         3     2095000
           1612339   BRAND_S         3     1745000

In [14]:
df_week = pd.DataFrame({'day_number':[1,2,3,4,5,6,7],
                        'week_type':['weekday' for i in range(5)] + ['weekend' for i in range(2)]
                       })
df_week_ix = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
df_week.index = [df_week_ix, df_week['day_number'].to_list()]
df_week.index.names = ['name','num']
print(df_week.index.names)

['name', 'num']

## Slicing - Part 1
Seperti artinya slicing adalah cara untuk melakukan filter ke dataframe/series berdasarkan kriteria tertentu dari nilai kolomnya ataupun kriteria index-nya.

Terdapat 2 cara paling terkenal untuk slicing dataframe, yaitu dengan menggunakan method .loc dan .iloc pada variabel bertipe pandas DataFrame/Series. Method .iloc ditujukan untuk proses slicing berdasarkan index berupa nilai integer tertentu. Akan tetapi akan lebih sering menggunakan dengan method .loc karena lebih fleksibel. 

 

Mari ikuti ilustrasi berikut ini.

Dataset belum dilakukan indexing, jadi slicing berdasarkan nilai kolomnya. Untuk itu "sample_csv.csv" dibaca kembali dan dipraktikkan metode .loc[] dengan mengambil tanggal 1 Januari 2019 dari kolom order_date dan product_id nya adalah P2154 dan P2556.

![](images/75.png)

Output

![](images/76.png)

In [17]:
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])
print(df.isin([0, 4]))

        num_legs  num_wings
falcon     False      False
dog         True       True

In [3]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Slice langsung berdasarkan kolom
df_slice = df.loc[(df["customer_id"] == 18055) &
		          (df["product_id"].isin(["P0029", "P0040", "P0041", "P0116", "P0117"]))
				 ]
print("Slice langsung berdasarkan kolom:\n", df_slice)

Slice langsung berdasarkan kolom:
 Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []
     order_id  order_date  customer_id             city          province  \
0     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
1     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
2     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
3     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
4     1612339  2019-01-01        18055  Jakarta Selatan       DKI Jakarta
..        ...         ...          ...              ...               ...
96    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
97    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
98    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
99    1612390  2019-01-01        12681         Makassar  Sulawesi Selatan
100   1612390  2019-01-01        12681         Makassar  Sulawesi Selatan

    product_id    brand  quantity  item_price
0        P0648  BRAND_C         4     1934000
1        P3826  BRAND_V         8      604000
2        P1508  BRAND_G        12      747000
3        P0520  BRAND_B        12      450000
4        P1513  BRAND_G         3     1500000
..         ...      ...       ...         ...
96       P3388  BRAND_S        10      450000
97       P3082  BRAND_R        18     1045000
98       P3354  BRAND_S        24      450000
99       P3357  BRAND_S        24      450000
100      P0422  BRAND_B         4     1325000

[101 rows x 9 columns]

In [9]:
import pandas as pd

df = pd.DataFrame({'customer_id' : [18055, 18098, 19053 , 18055, 19053, 18055, 18055, 18055, 18055,18055
                    , 18098, 18055, 18098, 19053, 18055, 18098], 
                    'product_id' : ['P0029', 'P0040', 'P0041', 'P0116', 'P0117', 'P0012', 'P0044', 'P0040',
                    'P0041', 'P0116', 'P0029', 'P0040', 'P0041', 'P0116', 'P0117', 'P0012']})


df_slice = df.loc[(df["customer_id"] == 18055) &
		          (df["product_id"].isin(["P0029", "P0040", "P0041", "P0116", "P0117"]))
				 ]

print(df)
print("Slice langsung berdasarkan kolom:\n", df_slice)

    customer_id product_id
0         18055      P0029
1         18098      P0040
2         19053      P0041
3         18055      P0116
4         19053      P0117
5         18055      P0012
6         18055      P0044
7         18055      P0040
8         18055      P0041
9         18055      P0116
10        18098      P0029
11        18055      P0040
12        18098      P0041
13        19053      P0116
14        18055      P0117
15        18098      P0012
Slice langsung berdasarkan kolom:
     customer_id product_id
0         18055      P0029
3         18055      P0116
7         18055      P0040
8         18055      P0041
9         18055      P0116
11        18055      P0040
14        18055      P0117

## Slicing - Part 2
Dalam sub bab sebelumnya telah mempelajari bagaimana melakukan slicing/filtering dataset dengan menggunakan method .loc pada kolom dataset.

Sekarang, menerapkan berdasarkan index. Tentu syaratnya adalah dataset sudah dilakukan indexing terlebih dahulu melalui penerapan method .set_index 

 

Cara 1: Gunakan method .loc seperti yang dicontohkan berikut:

![](images/77.png)

Output cara 1:

![](images/78.png)

Cara 2: Gunakan pd.IndexSlice sebagai varaibel untuk melakukan slicing index

![](images/79.png)

Output cara 2:

![](images/80.png)

In [1]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set index dari df sesuai instruksi
df = df.set_index(["order_date", "order_id", "product_id"])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01", 1612339, ["P2154", "P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
                                 customer_id             city     province  \
order_date order_id product_id
2019-01-01 1612339  P2154             18055  Jakarta Selatan  DKI Jakarta
                    P2159             18055  Jakarta Selatan  DKI Jakarta

                                  brand  quantity  item_price
order_date order_id product_id
2019-01-01 1612339  P2154       BRAND_M         4     1745000
                    P2159       BRAND_M        24      310000

## Quiz

sample_csv = pd.read_csv('sample_csv.csv')

sample_csv = sample_csv.set_index(['province','product_id'])

idx = pd.IndexSlice

sample_csv.sort_index().loc[idx['Sulawesi Selatan', 'P3082':'P3357'], :]

Code mana yang akan menghasilkan semua kolom, dengan filter province = ‘Sulawesi Selatan’ dan product_id dari ‘P3082’ sampai ‘P3357’?