In [1]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import numpy as np

In [2]:
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['Sex'] = df['Sex'] == 'male'
df

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,True,22.0,1,0,7.2500
1,1,1,False,38.0,1,0,71.2833
2,1,3,False,26.0,0,0,7.9250
3,1,1,False,35.0,1,0,53.1000
4,0,3,True,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,True,27.0,0,0,13.0000
883,1,1,False,19.0,0,0,30.0000
884,0,3,False,7.0,1,2,23.4500
885,1,1,True,26.0,0,0,30.0000
886,0,3,True,32.0,0,0,7.7500

In [3]:
X = df[['Pclass', 'Sex', 'Age','Siblings/Spouses', 'Parents/Children', 'Fare']].values
y = df['Survived'].values

In [4]:
kf = KFold(n_splits=5, shuffle=True, random_state=1)
# kf = list(kf.split(X))
# splits = kf[2   ]
# splits

# train_indices, test_indices = splits
# train_indices
# test_indices

In [5]:
# X_train = X[train_indices]
# X_test = X[test_indices]
# y_train = y[train_indices]
# y_test = y[test_indices]

# X_test

In [6]:
model = LogisticRegression()
# model.fit(X_train, y_train)

In [7]:
# predict = model.predict(X_test)
# model.score(X_test, y_test)

In [8]:
# d = confusion_matrix(y_test, predict)
# d

*Loop Over All the Folds*

In [16]:
score = []

for values_train, values_test in kf.split(X):
    X_train, X_test = X[values_train], X[values_test]
    y_train, y_test = y[values_train], y[values_test]
    model = LogisticRegression()
    model.fit(X_train, y_train)
    score.append(model.score(X_test, y_test))
print(np.mean(score))

0.7993905922681395

In [10]:
model.fit(X, y)
model.score(X, y)

0.8049605411499436

Compare Models

In [11]:
X1 = df[['Pclass', 'Sex', 'Age']].values
y1 = df['Survived'].values

model.fit(X1, y1)
model.score(X1, y1)

0.7936865839909808

In [12]:
X2 = df[['Age', 'Fare']].values
y2 = df['Survived'].values

model.fit(X2, y2)
model.score(X2, y2)

0.6538895152198422